body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* font-family: Arial, sans-serif; */
    overflow: hidden;
    font-family: "roboto";
}
body>h1{
    font-size: 48px;
    margin-bottom: 5%;
}



.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Background.jpg');
    /* background-image: url('./assets/Background.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1; /* Adjust opacity here */
    z-index: -1; /* Ensure it stays behind the content */
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 1; /* Ensure it stays above the background */
}

h1 {
    margin-bottom: 20px;
    color: rgb(118, 125, 115);
    font-size: 24px;
    cursor:default;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: rgb(85, 81, 81);
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(118, 125, 115);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: rgb(85, 81, 81);
}

button {
    background-color: rgb(118, 125, 115);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(85, 81, 81);
}
